body {
  margin: 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
h1 {
  font-weight: 200;
  animation-name: title-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  position: relative;
  top: 3vh;
  margin-top: 0px;
  color: rgb(0, 0, 0);
}
