@import url(components.css);

#content {
  z-index: 10;
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
}

#dice-box {
  height: calc(var(--dice-size) * 1.5);
  max-height: calc(var(--dice-size) * 3);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  gap: 10px;
  width: 100vw;
}

#config-box {
  height: calc(var(--dice-size) * 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
#config-box div {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 15px;
  height: 100%;
}
.bg01 {
  background: url(../images/dice-six-faces-one.svg);
}
.bg02 {
  background: url(../images/dice-six-faces-two.svg);
}
.bg03 {
  background: url(../images/dice-six-faces-three.svg);
}
.bg04 {
  background: url(../images/dice-six-faces-four.svg);
}
.bg05 {
  background: url(../images/dice-six-faces-five.svg);
}
.bg06 {
  background: url(../images/dice-six-faces-six.svg);
}
